html, body {
	height: 100%;
}

.form-control {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2px 2px 10px;
    text-decoration: none;
    margin-bottom: 4px;
}

.container_form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px black;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.name {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2px 2px 10px;
    text-decoration: none;
    margin-bottom: 4px;
}

.telefone {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2px 2px 10px;
    text-decoration: none;
    margin-bottom: 4px;
}

.email {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2px 2px 10px;
    text-decoration: none;
    margin-bottom: 4px;
}

.cadastro-button {
    background-color: purple;
    border-radius: 2px;
    padding: 40px;
    align-items: center;
}

.rodape {
    background-color: #000;
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 260px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0px 20px 0px;
    width: 100%;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container_form {
        margin: 0 auto;
        width: 300px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        box-shadow: 2px 2px 2px 2px black;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container_form {
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        box-shadow: 2px 2px 2px 2px black;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .container_form {
        margin: 0 auto;
        width: 600px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        box-shadow: 2px 2px 2px 2px black;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container_form {
        margin: 0 auto;
        width: 650px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        box-shadow: 2px 2px 2px 2px black;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container_form {
        margin: 0 auto;
        width: 700px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        box-shadow: 2px 2px 2px 2px black;
    }

    .cadastro-button {
        background-color: purple;
        border-radius: 2px;
        padding: auto;
        align-items: center;
        margin-left: auto;
    }
}